<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="color: red">Добавить роль можно только с префиксом ROLE_</h3>
<form th:method="post" th:action="@{/admin/role}" th:object="${role_get}" enctype="multipart/form-data">
    <label for="title">Введите название товара: </label>
    <input type="text" th:field="*{name}" placeholder="Название" id="title">
    <button type="submit">Добавить</button>
    <br>
    <br>
</form>
</body>
</html>