<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo"><h3>Кабинет администратора</h3></div>
        <div class="exit_admin">
            <form method="post" th:action="@{/authentication/index}">
                <input type="submit" value="Выйти из личного кабинета">
            </form>
        </div>
    </div>
    <div class="content">
        <div class="menu_admin">
            <ul>
                <li><a href="admin/product/add">Добавить товар</a></li>
                <li><a href="admin/product/add/group">Добавить основную группу товаров</a></li>
                <li><a href="admin/product/add/group/category">Добавить подгруппу товаров</a></li>
                <li><a href="admin/person">Просмотр и изменение пользователя</a></li>
                <li><a href="admin/role">Добавить роль</a></li>
                <li><a href="admin/order">Все заказы</a></li>
                <li>
                    <form method="post" th:action="@{/authentication/index}">
                        <input type="submit" value="Выйти из личного кабинета">
                    </form>
                </li>
            </ul>
        </div>
        <div class="product">
            <div th:each="product : ${products}" class="product_items">
                <div class="product_info">
                    <div class="category_title">
                        <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
                    </div>
                    <div class="product_info_img">
                        <div class="image_item">
                            <img th:src="'/img/' + ${product.imageList[0].getFileName()}">
                        </div>
                       <div class="product_title">
                           <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
                           <p th:text="'Производитель: ' + ${product.getManufacturer()}"></p>
                       </div>
                    </div>
                    <div class="price_item">

                        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                    </div>
                </div>
                <div class="edit_delete">
                    <div class="product_edit">
                        <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">
                            Редактировать товар
                        </a>
                    </div>
                    <div class="product_delete">
                        <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">
                            Удалить товар
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">footer</div>
</div>
</body>
</html>