<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование роли пользователя</title>
</head>
<body>
<h3>Редактирование роли пользователя</h3>
<form th:method="POST" th:action="@{/admin/person}" th:object="${all_person}">
<div th:each="person_role : ${all_person}">
    <p th:text="'id: ' + ${person_role.getId()}"></p>
    <p th:text="'login: ' + ${person_role.getLogin()}"></p>
    <p th:text="'role: ' + ${person_role.getRole()}"></p>
    <a th:href="@{/admin/person/{id}(id=${person_role.getId()})}">
        Редактировать роль
    </a>
<!--    <br>-->
<!--    <label for="category">Введите категорию товара</label>-->
<!--    <select name="person_role" id="category">-->
<!--        <option th:each="state :${T(com.example.shop_spring.ennum.RolePerson).values()}" th:value="${state}" th:text="${state}"></option>-->
<!--    </select>-->
<!--    <button type="submit">Добавить</button>-->
<!--    <br>-->
<!--    <hr>-->
</div>
</form>
</body>
</html>