h3{
    text-align: center;
}

.category_items {
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    justify-content: center;
    padding-top: 60px;
    grid-gap: 25px;
}

.content_category {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    align-content: center;
    justify-content: center;
    border: 1px solid #cacaca;
    text-align: center;
    height: 300px;
    padding: 10px;

}

.category_img img{
    padding-top: 10px;
    align-self: center;
    width: 150px;
}

.category_name {
    font-size: 14px;
    /* align-items: center; */
    align-self: start;
    padding: 5px;

}

.content_category img {
    width: 200px;
}

.content_category a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 1.3;
    background-position: top 3px left;
    background-repeat: no-repeat;
    background-size: 12px;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
}

.content_category a:hover {
    /*background-color: rgba(159, 159, 159, 0.1);*/
    color: #4d73a4;
}

.price_item{
    display: grid;

    align-items: end;
    justify-items: end;

}

.title_item {
    padding: 10px;
}
