body {
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-rows: 50px auto 200px auto 60px;
}

.header_items {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr  1fr;
    background-color: rgba(218, 218, 218, 0.66);
    border: 1px solid #d4d4d4;
    min-height: 40px;
    align-items: center;
    padding-left: 50px;
}

.mail_item {
    align-self: center;
    justify-self: start;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    padding-right: 50px;

}

.login_item {
    padding: 10px;
    align-self: center;
}

.registration_item {
    padding-right: 20px;
    align-self: center;
}

.cart {
    padding-left: 20px;
    align-self: center;
}

.group_category {
    padding-left: 50px;
    padding-right: 50px;
}

.content_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;

}

.content {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    align-content: center;
    justify-content: center;
    border: 1px solid #cacaca;
    text-align: center;
    padding: 5px;
    margin: 2px;
}

.content_img img {
    padding-top: 10px;
    align-self: center;
    width: 150px;
}

.content_name {
    font-size: 14px;
    /* align-items: center; */
    align-self: start;
    padding: 5px;

}

.content_name a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 1.3;
    background-position: top 3px left;
    background-repeat: no-repeat;
    background-size: 12px;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
}

.content_name a:hover {
    /*background-color: rgba(159, 159, 159, 0.1);*/
    color: #4d73a4;
}

.content_name a:active {
    color: #343232;
}



.product {
padding-bottom: 50px;
}

.product_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-gap: 20px;
    justify-content: center;
}

.product_item {
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    width: 250px;
    height: 400px;
    justify-content: center;
    align-items: start;
}

.product_img img {
    width: 250px;

}

.product_title {
    display: grid;

}

.price {
    display: grid;
    justify-items: end;
    align-items: end;
}

.title_product {
    display: grid;
    justify-items: start;
    align-items: start;
}

.add_cart_item {
    display: grid;
    justify-items: end;
    margin: 10px;
}

.add_cart {
    display: grid;
    background-color: #cacaca;
    border: 1px solid #141b1e;
    border-radius: 7px;
    height: 25px;
    width: 150px;
    align-items: center;
    transition: box-shadow 0.5s ease-out, background-color 0.8s ease-in;
}

.add_cart:hover {
    background-color: rgba(159, 159, 159, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.add_cart a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.search {
padding-left: 50px;
padding-right: 50px;
}

.search_item {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    align-items: center;
    justify-items: center;
    background-color: rgba(202, 202, 202, 0.38);
}

.search_up {
    padding-bottom: 20px;
}

.button_item {
    display: grid;
    align-self: end;
    justify-self: end;

}

.search_price {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search_param {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.page_footer {
    padding-left: 50px;
    padding-top: 30px;
    border: 1px solid black;
    text-align: center;
    background-color: #cacaca;

}
