<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
  <link rel="stylesheet" th:href="@{/css/registration.css}"/>
</head>
<body>
<section class="content"></section>
<div class="container">
  <form method="post" th:action="@{/authentication/registration}" th:object="${person}">
    <div class="form_item">
      <div class="title_item">
        <h3 class="login_header_text">Регистрация</h3>
      </div>
      <div class="login_item">
        <div class="lable_login">
          <label for="username">Введите логин: </label>
        </div>
        <div class="input_item">
          <input type="text" th:field="*{login}" placeholder="Введите ваш логин" name="username" id="username">
        </div>
        <div class="measage_login">
          <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
        </div>
      </div>

      <div class="reg_item">
        <div class="lable_reg">
          <label for="password">Введите пароль: </label>
        </div>
        <div class="input_reg_item">
          <input type="password" th:field="*{password}" placeholder="Введите ваш пароль" name="password" id="password">
        </div>
        <div class="measage_reg">
          <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

        </div>
      </div>

      <div class="button_item">
        <input type="submit" value="Регистрация">
      </div>
      <div class="mesage">
        <div th:if="${param.error}" style="color: red">
          Неправильный логин или пароль
        </div>
      </div>
      <div class="autoirization">
        <a href="/authentication/login">Авторизация</a>
      </div>
  </form>
</div>
</div>
</section>
</body>
</html>